.turfInfo_Container_box{

}

.turfInfo_Container{
    overflow: hidden;
    background-color: black;
    color: white;
}

.turfInfo_Container_Img_slider_Container{
    height: 50vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: start;
    /* border: 1px solid black; */
    position: relative;
}

.turfInfo_Container_Img_slider_Container_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.turfInfo_Container_information_Container{
    margin: 10px;
    font-size: 20px;
}


.turfInfo_Container_view_images_Container{
    font-size: 18px;
    position: absolute;
    z-index: 101;
    color: rgb(7, 7, 7);
    font-weight: 700;
    font-style: italic;
    padding: 10px;
    left: 8px;
    bottom: 8px;
    background-color: rgba(255, 255, 255, 0.322);
    border: 1px solid black;
    border-radius: 10px;
}

.turfInfo_Container_location_Container{
  border-radius: 10px;  
  margin-top: 10px;
  margin-bottom: 10px;
  
 
}

.turfInfo_Container_location_Container_2{
    font-size: 20px;
}

.turfInfo_Container_location_Container_svg{
    height: 30px;
    margin-right: 10px;
}

.turfInfo_Container_price_Container{
    margin-bottom: 10px;
    border-radius: 4px;
    display: inline-flex;
    font-size: 22px;
    background-color: green;
    padding: 10px;
    color: white;

}


/* .timePicker_container{
    display: flex;
    justify-content: center;
}

.timePicker{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 10px;
    margin-bottom: 10px;
    column-gap: 5vw;
} */

.turfInfo_booking_btns{
    display: flex;
}

.turfInfo_booking_btn_booked,
.turfInfo_booking_btn_not_booked{
    margin-right: 30px;
    padding: 10px;
    border-radius: 4px;
}

.turfInfo_booking_btn_bg{
    background-color: gray;
}


.turfInfo_Contianer_slot_availability_form{
    display: flex;
    flex-direction: column;
}

.turfInfo_Container_form_div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.turfInfo_Container_host_btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.host_btn{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

label{
    font-size: 22px;
}

.turfInfo_Container_form_input{
    height: 26px;
    min-width: 330px;
    max-width: 500px;
}

.turfInfo_Container_slot_heading{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.turfInfo_form_Container{
    display: flex;
    justify-content: center;
    
}

.slot_check_container{
    padding: 10px;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;    
}

.host_here_option_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.host_here_question_container{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size:22px;
}

.host_here_btn{
    padding: 10px;
    border: 1px solid rgb(255, 253, 253);
}

.turfInfo_Container_name_Container{
   text-align: center;
   font-size: 24px;
   color: rgb(255, 254, 254);
}

.turfInfo_Container_games_Container{
    
    display: flex;  
    justify-content: center;
    text-align: center;
}

.turfInfo_Container_game{
    margin-right: 10px;
    font-size: 16px;
    font-style: italic;
}
  
.view_images_page{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 3000;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_view_images_page{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 3001;
    color: white;
    font-size: 28px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 40px;
}

.choose_right_image_option,
.choose_left_image_option{
    position: fixed;
   
    z-index: 3001;
    color: white;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.849);
}


.choose_right_image_option{
    right: 10px;
    top: 50%;
}

.choose_left_image_option{
    
    left: 10px;
    top: 50%;
    
}

.turfInfo_Container_map_location{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 10px 0px 30px 0px;

}

.turfInfo_Container_map_location{
    
}