.chooseTurf_turf_container_box{
    display: flex;
    flex-direction: column;
}

.chooseTurf_turf_container{
    display: flex;
    width: 90vw;
    height: 200px;
    margin-bottom: 20px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    overflow: hidden;
    max-width: 700px;
}

.turfShowCase_Container_chooseTurf_changes{
    display: flex;
    justify-content: center;
}

.chooseTur_turf_container_information{
    width: 50%;
    margin: 10px;
}

.chooseTur_turf_container_img_container{
    width: 40%;
    height: 100%;
}

.chooseTur_turf_container_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chooseTur_turf_container_name{
    font-size: 20px;
    margin-bottom: 10px;
}

.chooseTur_turf_container_address{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}

.chooseTur_turf_container_price{
    font-size: 24px;
    color: green;
}

.turf_not_found_question{
    font-size: 24px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.turf_name_input_label,
.turf_location_input_label{
    font-size: 20px;
    margin: 10px 0px 5px 0px;
}

.turf_location_input,
.turf_name_input{
    font-size: 18px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);
    padding: 10px;
    width: 90%;
}

.turf_not_found_container{
    margin: 10px 0px 10px 0px;
}


.selectedTurf_bg{
    background-color: rgba(0, 128, 0, 0.267);
    color: white;
}

.selected_icon{
    height: 30px;
    margin-left: 20px;
    color: black;
}

.selected_turf_container{
    display: flex;
    align-items: center;
    color: black;
}

.hostTurf_showcase_container{
    display: flex;
    flex-direction: column;
}

.index_page_turf_Container_Img_slider_Container{
    position: relative;
}

.see_turf_details_container{
    z-index: 1000;
    position: absolute;
    top:10px;
    left: 10px;
    padding: 6px;
    border-radius: 10px;
    background-color: rgba(221, 221, 221, 0.527);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1px solid black;
}

.choose_turf_selected_turf{
    z-index: 1000;
    position: absolute;
    top:10px;
    right: 10px;
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1px solid black;
    display: flex;
}

.selected_turf_icon{
    margin-left: 4px;
    height: 20px;
}

@media only screen and (min-width: 700px) and (max-width:899){
    .hostTurf_showcase_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 900px){
    .hostTurf_showcase_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}