.findGame_Container{
    display: flex;
    justify-content: center;
}

.findGame_Container_box{
    margin-top: 80px;
}

.gameInfo_Container{
    width: 90vw;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(61, 61, 61, 0.534);
}

.gameInfo_Container_information{
    padding: 10px;
}

.gameInfo_Container_date{
    background-color: rgba(187, 186, 186, 0.534);
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.gameInfo_Container_time{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
   
}


.gameInfo_Container_time,
.gameInfo_Container_location,
.gameInfo_Container_players,
.gameInfo_Container_host_info_chat_option{
    display: flex;
    align-items: center;
    margin: 4px 0px 4px 0px;
    font-size: 18px;
}

.icons{
    height: 22px;
    min-width: 22px;
    margin-right: 8px;
}

.gameInfo_Container_host_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.gameInfo_Container_join_game{
    background-color: green;
    color: white;
    padding:10px;
    border-radius: 10px;

}

.gameInfo_Container_No_game{
    margin-top: 20px;
}

.chat_option_container{
    font-size: 14px;
    display: flex;
}

.gameInfo_Container_game{
    color: rgb(72, 158, 32);
    font-size: 20px;
}

.gameInfo_Container_search{
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 0px;
   
}

.find_game_search_input{
    height: 20px;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
    border: none;
    box-shadow: 1px 1px 5px rgba(70, 70, 70, 0.534);
}

.search_icon{
    height: 24px;
    width: 24px;
    color: white;
    
}

.find_game_seach_btn{
    background-color: rgba(47, 158, 32, 0.651);
    border: none;
    border-radius: 40px;
    padding: 7px;
}