body{
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  
}


/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------- HEADER CSS-------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------- INDEX PAGE IMAGE CSS-------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */



/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------LOGIN REGISTER----------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------INDEX PAGE TURF SHOWCASE---------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/




/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------- MEDIA QUERIES CSS-------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.index_page_turf_container_slider{
  
}

@media only screen and (min-width: 900px) {
  .header_find_game_btn, .header_host_game_btn{
    margin-left: 30px;
    display: block;
  }

  .header_user_greeting{
    display: block;
    margin-right: 30px;
  }

  .header_menu_option,.mobile_menu{
    display: none;
  }

}


@media only screen and (min-width: 550px) and (max-width: 1200px){
  .index_page_img_content{
    left: 5%;
    top: 30%;
  }

}

@media only screen and (min-width:700px) and (max-width:1100px){
  .index_page_turf_container_slider{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1101px) and (max-width:1600px){
  
  .index_page_turf_container_slider{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1601px) {
  
  .index_page_turf_container_slider{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1101px) {
  .index_page_img_content{
    left: 10%;
  }

  .index_page_img_text-content_line1{
    font-size: 58px;
    font-weight: 800;
  }
  
  .index_page_img_text-content_line2{
    font-size: 24px;
    font-weight: 500;
  }

  .index_page_img_feature_content{
    display: block;
    top: 20%;
    right: 10%;
  }

} 

