body,p{
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif; 
}

.logo,
.header_find_game_btn,
.header_host_game_btn,
.header_user_photo_container,
.header_menu_option,
.index_page_turf_container_slider_item_information,
.mobile_menu_find_game_btn,
.mobile_menu_host_game_btn,
.mobile_menu_about_us_btn,
.find_game_seach_btn,
.gameInfo_Container_host_info_chat_option,
.gameInfo_Container_join_game,
.host_game_btn_option,
.request_approve_btn,
.request_decline_btn,
.games_btn,
.log_in_icon_svg,
.footer_business_host,
.next_step_btn,
.prev_step_btn,
.increment_timeSlotsize_container,
.decrement_timeSlotsize_container,
.hostGame_booking_btn_booked,
.hostGame_booking_btn_not_booked,
.edit_info_btn,
.see_turf_details_container,
.turfShowCase_game_seach_btn,
.profile_container_logout,
.feature_btn_option,
.back_icon_container,
.chat_bar_friend_container,
.file_upload_icon,
.sendBtn,
.choose_left_image_option,
.choose_right_image_option,
.close_view_images_page,
.turfInfo_host_page_close,
.turfInfo_Container_view_images_Container,
.host_here_btn,
.login_btn,
.register_btn,
.login_form_submit_btn,
.register_form_submit_btn
{
  cursor: pointer;
}


.chat_page_container_box{
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.chat_container{
  box-shadow: 1px 1px 5px rgba(40, 94, 9, 0.336);
  position: relative;
  height: 80vh;
  margin: 10px;
  width: 100%;
  max-width: 700px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.textarea:focus, input:focus{
  outline: none;
}

.friendName_container{
  box-shadow: 1px 1px 5px rgba(9, 84, 94, 0.658);
  padding: 10px;
  font-size: 24px;  
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.938);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1000;
}

.go_back_icon{
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(144, 180, 86, 0.938);
  padding: 2px;
}

.back_icon_container{
  display: flex;
  align-items: center;
}

.message__container{
  position: absolute;
  top: 60px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  overflow-y: scroll;
  
}

.chat_bar_container_box{
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chats_page{
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.chat_bar_container{
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  width: 80vw;
  max-width: 400px;
  box-shadow: 1px 1px 5px rgba(40, 94, 9, 0.658);
}

.chat_bar_friend_container{
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 50px;
  /* width: 90vw;
  max-width: 530px; */
  overflow: hidden;
  width: 100%;
  margin: 10px 0px 20px 0px;
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(90, 216, 17, 0.658);
  background-color: rgba(128, 128, 128, 0.212);
}

.chat_friendLogo{
  background-color: rgba(90, 216, 17, 0.658);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.chat_friendName{
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 24px;
  
}

.chat_send_icon{
  height: 30px;
}

.chat__footer{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 48px;
  box-shadow: 1px 1px 5px rgba(90, 216, 17, 0.658);
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 0px 0px 10px;
  background-color: white;
}

.loaded_file_container{
  position: fixed;
  color: rgb(8, 8, 8);
  font-size: 16px;
  padding: 4px;
  bottom:110px;
  border-radius: 10px;
  background-color:  rgba(165, 165, 165, 0.199);
}

.chat_footer_form{
  display: flex;
  width: 100%;
}

.file_upload_label{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 60px;
}

.file_upload_input{
  display: none;
}

.file_upload_icon{
  display: flex;
  align-items: center;
}

.message{
  width: 100%;
  height: 48px;
  font-size: 20px;
  border: none;
}

.message__chats{
  display: flex;
}

.sendBtn{
  background-color: rgba(90, 216, 17, 0.658);
  border: none;
  box-shadow: 1px 1px 2px rgba(90, 216, 17, 0.658);
  border-radius: 10px;
}

.message__compartment_friend,
.message__compartment_user{
 
  margin: 10px;
  padding: 6px;
  border-radius: 10px;
  background-color: rgba(105, 105, 105, 0.938);
  
  box-shadow: 1px 1px 2px rgba(228, 228, 228, 0.966);
  color :white;
}

.message__compartment_user{
  margin-left: auto;
  background-color: rgba(252, 252, 252, 0.966);
  box-shadow: 1px 1px 2px rgba(129, 129, 129, 0.966);
  color:black;
}

.message_friendname{
  font-size: 12px;
}

.message_friendname{
  color:rgb(37, 187, 224);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------- HEADER CSS-------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------- INDEX PAGE IMAGE CSS-------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */



/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------LOGIN REGISTER----------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------INDEX PAGE TURF SHOWCASE---------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/




/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/*---------------------------- MEDIA QUERIES CSS-------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.index_page_turf_container_slider{
  
}

@media only screen and (min-width: 900px) {
  .header_find_game_btn, .header_host_game_btn{
    margin-left: 30px;
    display: block;
  }

  .header_user_greeting{
    display: block;
    margin-right: 30px;
  }

  .header_menu_option,.mobile_menu{
    display: none;
  }

}


@media only screen and (min-width: 550px) and (max-width: 1200px){
  .index_page_img_content{
    left: 5%;
    top: 30%;
  }

  .uploaded_images_container{
    height: 300px;
  }

}

@media only screen and (min-width:700px) and (max-width:1100px){
  .index_page_turf_container_slider{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1101px) and (max-width:1600px){
  
  .index_page_turf_container_slider{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1601px) {
  
  .index_page_turf_container_slider{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1101px) {
  .index_page_img_content{
    left: 10%;
  }

  .index_page_img_text-content_line1{
    font-size: 58px;
    font-weight: 800;
  }
  
  .index_page_img_text-content_line2{
    font-size: 24px;
    font-weight: 500;
  }

  .index_page_img_feature_content{
    display: block;
    top: 20%;
    right: 10%;
  }

} 

